@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

* {
  box-sizing: border-box;
}

body {
  font-family: 'open sans', helvetica, arial, sans;
  font-size: 1.1rem;
}

a {
  color: white;
  text-decoration: none;
}
